<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<html>
<body>
	<h1>Welcome to mwolff.info</h1>

	<a href="welcome.do">Zur Welcome Page.</a>
	#set ($a = "Velocity")


</body>
</html>