<html>

<head>
    <link rel="stylesheet" href="resources/mwolff.css" type="text/css">
</head>

<body>

	#include("header.vm")
	
	#include("sidebar.vm")
    
	<div id="content">

	<h1 align="center">Eingabe von Userdaten</h1>
	<form name="adduser" action="adduser.do" method="post">
	<table align="center" border="0" cellpadding="5" cellspacing="0" bgcolor="#E0E0E0">
    <tr>
      <td align="right">Vorname:</td>
      <td><input name="prename" type="text" size="30" maxlength="40" value="$User.prename">
          <input name="id" type="hidden" size="30" maxlength="40" #if ($User.id > 0) value="$User.id" #end>
      </td>
    </tr>
    <tr>
      <td align="right">Name:</td>
      <td><input name="name" type="text" size="30" maxlength="30" value="$User.name"></td>
    </tr>
    <tr>
      <td align="right">Login:</td>
      <td><input name="login" type="text" size="30" maxlength="40" value="$User.login"></td>
    </tr>
    <tr>
      <td align="right">Paﬂwort:</td>
      <td><input name="password" type="password" size="30" maxlength="30" value="$User.password"></td>
    </tr>
    <tr>
      <td align="right" valign="top">Kommentar:</td>
      <td><textarea name="comment" rows="10" cols="50" value="$User.getComment()">$User.comment</textarea></td>
    </tr>
    <tr>
      <td align="right">Formular:</td>
      <td>
        <input type="submit" value=" Speichern ">
        <input type="button" onclick="window.location.replace('listuser.do')" value="Abbrechen" />
      </td>
    </tr>
    </table>
    </div>
    
<!--    
	#include("footer.vm")
-->		

</body>
</html>