    <div id="sidebar">
    <!-- <h3>Home</h3> -->
    <ul class="listsidebar">
    
    <li id="current" class=" listsidebaritems"><a href="generatorindex.do">Generator</a></li>
    </ul>
    
    </div>
